<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="S" package="dev.kdrag0n.android12.framework.flags" platformBuildVersionCode="30" platformBuildVersionName="S">
    <overlay android:priority="10" android:isStatic="true" android:targetPackage="android"/>
    <application android:extractNativeLibs="false" android:hasCode="false" />
</manifest>
