<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.kdrag0n.android12ext">

    <!-- Protects reload broadcast -->
    <permission android:name="dev.kdrag0n.android12ext.BROADCAST_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission android:name="dev.kdrag0n.android12ext.BROADCAST_PERMISSION" />

    <!-- To launch LSPosed Manager -->
    <queries>
        <package android:name="org.lsposed.manager" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.A12Ext.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Access controls are implemented in the provider -->
        <provider
            android:authorities="dev.kdrag0n.android12ext.xposedpreferences"
            android:name=".core.XposedPreferenceProvider"
            android:exported="true"
            android:directBootAware="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Enable hidden Android 12 features" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>