<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.kdrag0n.android12ext">

    <!-- Protects reload broadcast -->
    <permission android:name="dev.kdrag0n.android12ext.BROADCAST_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission android:name="dev.kdrag0n.android12ext.BROADCAST_PERMISSION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.android.systemui" />
        <package android:name="org.lsposed.manager" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.google.android.apps.nexuslauncher" />
    </queries>

    <application
        android:name=".CustomApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:forceQueryable="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.monet.palette.PaletteActivity"
            android:label="@string/monet_palette"
            android:theme="@style/Theme.App.Palette"
            android:screenOrientation="landscape"
            android:exported="false" />

        <!-- Access controls are implemented in the provider -->
        <provider
            android:authorities="dev.kdrag0n.android12ext.xposedpreferences"
            android:name=".core.xposed.XposedPreferenceProvider"
            android:exported="true"
            android:directBootAware="true"
            tools:ignore="ExportedContentProvider" />

        <receiver
            android:name=".core.BootReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service android:name=".core.CallService"
            android:exported="false" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Enable hidden Android 12 features" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scopes" />

    </application>

</manifest>
